<div class="box grid_16">
  <h2 class="box_head"><%= @title %></h2>
  <div class="block">
      <div class="columns clearfix">
        <div class="col_50">
          <fieldset class="label_side label_small top">
            <label for="text_field_inline">Name</label>
            <div>
              <%= @sample_type.name %>
              <div class="required_tag"></div>
            </div>
          </fieldset>
        </div>
      </div>
  </div>
</div>