/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require_tree .
 *= require plugins/all/plugins
 *= require adminica/all
 *= require themes/theme_samples
 *= require themes/layout_fixed
 *= require themes/nav_top
 *= require themes/skin_light
 *= require themes/bg_silver
 *= require adminica/colours
*/

.field_with_errors input,
.field_with_errors input.text,
.field_with_errors .textarea,
.field_with_errors .ui-multiselect,
.field_with_errors table input.text,
.field_with_errors .chzn-container-multi .chzn-choices {
  width: 100%!important;
  box-sizing: border-box;
  border: 0;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 2px 0 #ddd;
  border-radius: 1px;
}
.field_with_errors input.text,
.field_with_errors input {
  line-height: 32px;
  height: 32px;
  padding: 0 0 0 5px;
}
.field_with_errors input.text.width_50 {
  width: 50%;
}
.field_with_errors input.text.width_25 {
  width: 25%;
}
.field_with_errors input.text.width_75 {
  width: 25%;
}
.field_with_errors .textarea_holder,
.field_with_errors .textarea {
  padding: 5px 0 0 5px;
  min-height: 50px;
}
.field_with_errors .textarea_holder > textarea {
  height: 100px;
  width: 100%;
  display: block;
}
.field_with_errors input,
.field_with_errors input.text,
.field_with_errors .textarea {
  box-shadow: inset 0 0 3px 0 #ff0000;
}
.field_with_errors input:hover,
.field_with_errors input.text:hover,
.field_with_errors .textarea:hover {
  box-shadow: inset 0 0 2px 0 #ff6969;
}
.field_with_errors input:focus,
.field_with_errors input.text:focus,
.field_with_errors .textarea:focus {
  box-shadow: inset 0 0 2px 0 #a80707;
}

.align_right {
	float: right;
    margin: -5px -5px 0 0;
}

select.half_width {
  width: 50%!important;
}

.ui-datatable .ui-sortable-column-icon {
    display: none !important;
}

http://www.tnaflix.com/teen-porn/amateur-deepthroat-blowjob/video317395?ref=mr