<li>
	<a href="#" class="dialog_button" data-dialog="dialog_welcome"> <img src="/assets/icons/small/grey/laptop.png"/> Home </a>
</li>

<li><%= link_to new_carrier_path, :class => "pjax" do %><img src="/assets/icons/small/grey/mail.png"/>Select Order<% end %></li>

<li><%= link_to carriers_path do %><img src="/assets/icons/small/grey/mail.png"/>Make Order<% end %></li>

<li><%= link_to new_tag_path do %><img src="/assets/icons/small/grey/graph.png"/>Tag Site<% end %></li>
